body{
    background-color: #1A120B;
}

/*Header*/
body>header>nav a{
    color: #F4D793;
    margin: 0 7px;
}
body>header{
    height: 50px;
    position: relative;
}
body>header>img{
    height: fit-content;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
#navid{
    width: fit-content;
    height: fit-content;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

/*Home*/
#homeSec{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    justify-items: center;
}
#homeid{
    color: white;
}
body>section>div>p{
    color: white;
}
.homepic1{
    width: 285px;
    height: 285px;
    background: #D5CEA3;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 2px solid #3C2A21 ;
    box-shadow:5px 5px 8px #D5CEA3;
}
.homepic{
    display: flex;
    align-items: center;
    justify-content: center;
}
button:hover {
    background-color: #6C4E31;
    color: #FDF5DB;
}
#homeicon{
    gap: 25px;
    margin-top: 20px;
}

/*About me*/
#aboutSec{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
h3,h5{
    color: white;
}
#aboutme,#service,#homename,#project,#works,#details{
    color: #F4D793;
}
hr{
    background-color: #F4D793;
    height: 2px;
}
#aboutpic1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 10px;
}
#aboutpic{
    border-radius: 10%;
    box-shadow:5px 5px 8px #D5CEA3;
    position: relative;
}
button{
    color: #3C2A21;
    background-color: #F4D793;
    font-size: 15px;
    font-weight: bold;
    width: 180px;
    height: 30px;
    border: 2px solid wheat;
    border-radius: 10px;
}

/*skills*/
.skillsection{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}
.skillsection div{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #FCFFEE;
    margin: 10px;
    display: inline-block;
    box-shadow: 4px 2px 4px 4px #FDF5DB;
    outline: 4px solid #3C2A21;
    position: relative;
}
.skills img {
    width: 75%;
    height: 75%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

/*service*/
#serviceSection{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.card {
    background-color: #E5E5CB;
    color: #1A120B;
    border: 3px solid #3C2A21;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    box-shadow:5px 5px 8px #D5CEA3;
}
.servicepic{
    height: 200px;
    border: 2px solid #3C2A21;
}
.servicep{
    color: #3C2A21;
    font-weight: bold;
}
.servicehead{
    color: #1A120B;
    font-weight: bolder;
    font-size: x-large;
}

/*Project*/
#projectSection{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.project{
    background-color: #3E3232;
    color: #E5E5CB;
    border: 3px solid #3C2A21;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    box-shadow:5px 5px 8px #D5CEA3;
}
#p1,#p2,#p3{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    gap: 10px;
}

/*Works*/
.works{
    height: 10px;
    background-color: #E5E5CB;
    border: 3px solid #3C2A21;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    position: relative;
}
.works h4{
    position: absolute;
    top: 13px;
    left: 10px;
    bottom: 0;
    margin: auto;
    font-size: 20px;
}

/*Contact*/
#contactSection{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    justify-items: center;
    gap: 20px;
    padding: 20px;
}
#contactpic{
    width: 300px;
    height: 300px;
    background: #D5CEA3;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 2px solid #3C2A21 ;
    box-shadow:5px 5px 8px #D5CEA3;
}
#contactpic img{
    position: absolute;
    top: 30px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.contact {
    display: flex;
    align-items: center;
    gap: 15px;
}
h5{
    font-size: large;
}
#contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    justify-items: center;
}

/*Form*/
input,textarea{
    background-color: #FCFFEE;
}
label{
    color: #E5E5CB;
}
legend{
    color: #F4D793;
}

/*footer*/
dt{
    color: #FCFFEE;
}
dd{
    color: #D5CEA3;
}